<!-- Aside -->
<aside class="col-4">
  <div class="row row-gap-4">
    <!-- Papan Informasi -->
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body position-relative">
          <div class="card-title fs-4 ps-1 text-electric-blue">
            <span
              ><img
                class="me-3"
                style="width: 25px; height: 25px"
                src="./assets/images/exclamation_mark.png"
                alt="Exclamation mark" /></span
            >Papan Informasi
          </div>
          <ul class="fs-6">
            <li>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                bibendum venenatis arcu, vitae euismod purus ullamcorper vitae.
                Ut non risus rhoncus, faucibus est a, pretium lorem.
              </p>
            </li>

            <li>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin
                bibendum venenatis arcu, vitae euismod
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Papan Informasi -->
  </div>
</aside>
<!-- End Aside -->
