<!-- Footer -->
    <footer class="pt-5 mt-5 mb-0 bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <!-- Footer Title -->
            <figure class="row">
              <div class="col-lg-3">
                <img
                  src="./assets/images/sitebas.png"
                  alt=""
                  width="85px"
                  height="93px"
                />
              </div>
              <figcaption class="col-8">
                <div class="row">
                  <h1 class="col-12 fs-5 fw-bold">
                    <span class="text-royal-purple">SITEBAS</span> | UPA BAHASA
                  </h1>
                  <p class="col-12">
                    Sistem Informasi Test Kompetensi Bahasa Inggris
                  </p>
                </div>
              </figcaption>
            </figure>
            <!-- End Footer Title -->

            <!-- Address -->
            <section class="row gy-0 row-cols-1">
              <div class="col">
                <address
                  class="my-0 mb-2"
                  itemscope
                  itemtype="http://schema.org/CollegeOrUniversity"
                >
                  <meta
                    itemprop="name"
                    content="Universitas Sultan Ageng Tirtayasa"
                  />
                  <div itemprop="name" class="mb-2">
                    Universitas Sultan Ageng Tirtayasa, 2023
                  </div>
                  <meta itemprop="addressCountry" content="Indonesia" />
                  <div
                    itemprop="address"
                    itemscope
                    itemtype="http://schema.org/PostalAddress"
                  >
                    <span itemprop="streetAddress"
                      >Jl.Raya Palka Km 3 Sindangsari.</span
                    ><br />
                    <span itemprop="addressLocality">Pabuaran</span>,
                    <span itemprop="addressRegion"
                      >Kab. Serang Provinsi Banten</span
                    >
                    <br />
                  </div>
                  <span itemprop="telephone">Telp: +62254 3204321</span><br />
                  <span itemprop="faxNumber">Fax: +62254 281254</span><br />
                  <a
                    href="mailto:humas@untirta.ac.id"
                    itemprop="email"
                    class="text-white"
                    style="text-decoration: none"
                    >Email: humas@untirta.ac.id</a
                  >
                </address>
              </div>
            </section>
            <!-- End Address -->
          </div>
        </div>
      </div>
      <!-- Copyright Notice -->
      <p class="text-center background-royal-purple text-white mb-0">
        &copy; 2024 | Dikembangkan oleh UPA TIK
      </p>
      <!-- End Copyright Notice -->
    </footer>
    <!-- End Footer -->