 <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary container py-5">
        <div class="container-fluid">
          <!-- Logo -->
          <figure class="row">
            <div class="col-2">
              <img
                class=""
                src="./assets/images/sitebas.png"
                alt=""
                width="85px"
                height="93px"
              />
            </div>
            <figcaption class="col-8 align-content-center d-none d-md-block">
              <div class="row">
                <h1 class="col-12 fw-medium m-0" style="font-size: 1.2rem">
                  <span class="text-royal-purple fw-bold">SITEBAS</span> | UPA
                  BAHASA
                </h1>
                <p class="col-12 m-0" style="font-size: 0.82rem">
                  Sistem Informasi Test Kompetensi <br />
                  Bahasa Inggris
                </p>
              </div>
            </figcaption>
          </figure>
          <!-- End Logo -->

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Nav Links -->
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarTogglerDemo01"
          >
            <div class="navbar-nav">
              <a
                class="active-nav-link fw-light pe-2 m-lg-auto m-0"
                aria-current="page"
                href="#"
                ><img
                  src="./assets/images/beranda.png"
                  alt=""
                  width="26px"
                  class="me-2"
                />Beranda</a
              >
              <a class="nav-link" href="#">
                <img src="./assets/images/documents.png" alt="" width="26px" />
                Kursus Saya</a
              >
              <a class="nav-link" href="#">
                <img src="./assets/images/documents.png" alt="" width="26px" />
                Test Saya</a
              >
              <a class="nav-link" href="#">
                <img src="./assets/images/user.png" alt="" width="26px" />
                Akun</a
              >
            </div>
          </div>
          <!-- End Nav Links -->
        </div>
      </nav>
    </header>
    <!-- End Navbar -->