<!-- navbar -->
<header class="pb-5 pt-4">
  <nav class="navbar">
    <div class="container">
      <!-- logo navbar -->
      <div class="col-4">
        <div class="row">
          <!-- logo untirta -->
          <div class="col-2">
            <a class="navbar-brand" href="#">
              <img
                src="./assets/images/untirta.png"
                alt="Logo Untirta"
                width="47"
                height="47"
              />
            </a>
          </div>
          <!-- end logo untirta -->

          <!-- logo kampus merdeka -->
          <div class="col-3">
            <a class="navbar-brand d-flex align-items-baseline" href="#">
              <img
                src="./assets/images/kampus_merdeka.png"
                alt="Logo Kampus Merdeka"
                width="70"
                height="38"
              />
            </a>
          </div>
          <!-- end logo kampus merdeka -->

          <!-- logo blu promise -->
          <div class="col">
            <a class="navbar-brand" href="#">
              <img
                src="./assets/images/blu-promise.png"
                alt="Logo BLU Promise"
                width="147"
                height="47"
              />
            </a>
          </div>
          <!-- end logo blu promise -->
        </div>
      </div>
      <!-- end logo navbar -->
    </div>
  </nav>
</header>
