<!-- Table Program Test -->
<table class="table table-bordered">
  <thead>
    <tr>
      <th
        scope="col"
        class="fw-medium col-4"
        style="background-color: var(--off-white); color: var(--gunmetal-gray)"
      >
        Nama Kursus
      </th>
      <th
        scope="col"
        class="fw-medium col-4"
        style="background-color: var(--off-white); color: var(--gunmetal-gray)"
      >
        Pelatih
      </th>
      <th
        scope="col"
        class="fw-medium col-4"
        style="background-color: var(--off-white)"
      >
        Aksi
      </th>
    </tr>
  </thead>
  <tbody style="color: var(--gunmetal-gray)">
    <tr>
      <td
        style="
          background-color: var(--primary-subtle);
          color: var(--gunmetal-gray);
        "
      >
        General English (GE)
      </td>
      <td
        style="
          background-color: var(--primary-subtle);
          color: var(--gunmetal-gray);
        "
      ></td>
      <td
        style="background-color: var(--primary-subtle)"
        class="d-flex justify-content-center"
      >
        <button class="btn btn-lime-green">Lihat Detail</button>
      </td>
    </tr>

    <tr>
      <td
        style="
          background-color: var(--primary-subtle);
          color: var(--gunmetal-gray);
        "
      >
        English For International Contracts
      </td>
      <td
        style="
          background-color: var(--primary-subtle);
          color: var(--gunmetal-gray);
        "
      ></td>
      <td
        style="background-color: var(--primary-subtle)"
        class="d-flex justify-content-center"
      >
        <button class="btn btn-lime-green">Lihat Detail</button>
      </td>
    </tr>

    <tr>
      <td
        style="
          background-color: var(--primary-subtle);
          color: var(--gunmetal-gray);
        "
      >
        English For General Communication
      </td>
      <td
        style="
          background-color: var(--primary-subtle);
          color: var(--gunmetal-gray);
        "
      ></td>
      <td
        style="background-color: var(--primary-subtle)"
        class="d-flex justify-content-center"
      >
        <button class="btn btn-lime-green">Lihat Detail</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- End Table Program Test -->
